* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.atlas{
    margin:auto
}
.perfil{
margin: 15px;

}
.cabeça{
background-color: #DBE8FF;
align-items: center;
display: flex;


}
.navbar{
background-color:#BFB8FF ;
color: #A47ADA;
display: flex;
padding-block: 15px;
font-family: "Inter", sans-serif;
font-size: larger;

} 
.lupa{
    margin-left: 73%;
}
body{
background-color: #55ACE9;
background-attachment: scroll;
}
.geral{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.container{
    width: 1200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    
}
.container .card{
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: #DBE8FF;
    margin: 20px;
    border: 1px solid #BFB8FF;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    margin: 30px 37px;
    margin-top: 0;
}
.container .card .img{
transition: 0.5s;
}
.container .card .p1{
font-size: 2rem;
}
.container .card .content{
    padding: 20px;
    text-align: center;
}
.container .card .content .p1{
    color: #BFB8FF;
    transition: 0.5s;
}
.container .card .content .a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #55ACE9;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;

}
.container .card:hover{
    background-color: #BFB8FF;
    color: white;
    margin-top: -30px;
    box-shadow: 2px 20px 25px #BFB8FF;
    border-color: #BFB8FF;

}
.container .card:hover .img{
    filter: invert(1);  
}
.container .card:hover .content .p1{
    color: white;

}
.container .card:hover .content .a{
    color: #000;
    background-color: white;

}
.content{
    font-family: "Inter", sans-serif;
    color: #BFB8FF;
}
.trianguloa{
border-left: 100vw solid #55ACE9;
border-top: 200px solid white;
}
.triangulob{
    border-right: 98.8vw solid #55ACE9;
    border-bottom: 200px solid white;
}
footer{
    background-color: #DBE8FF;
    color: #A47ADA;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    box-sizing: border-box;
    align-items: center;
    position: sticky;  
     
}

#pf{
    margin: 6px;
}
.assineOferta{
    background-color: #BFB8FF;
    color: #A47ADA ;
    margin-top: 10px;
    padding: 30px;
    text-align: center;
}
input{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px; 
    outline: none;
    transition: border 0.3s;
}
button{

    padding: 10px;
    margin: 30px;
    border: none;
    border-radius: 20px;
    background-color:#A47ADA;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.perguntas{
    text-align: center;
    background-color: white;
    font-family: "Inter", sans-serif;
    color:#A47ADA;
    margin-top: 30px;
}
.block1{
    background-color: var(--cor1);
    color: var(--cor5);
    border: solid 1px black;
    border-radius: 28px;
    width: 47%;
    padding: 20px;
    background-color: #BFB8FF;
}
.blocks{
    width: 1200px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    justify-content: space-between;
   
}
   