* {
    margin: 0%;
    padding: 0%;
}

.atlas {
    margin: auto
}

.perfil {
    margin: 15px;

}

.cabeça {
    background-color: #DBE8FF;
    align-items: center;
    display: flex;
}

.navbar {
    background-color: #BFB8FF;
    color: #A47ADA;
    display: flex;
    padding-block: 15px;
    font-family: "Inter", sans-serif;
    font-size: larger;

}
body{
background-color: #55ACE9;
}

.lupa {
    margin-left: 75%;
}

footer{
    background-color: #DBE8FF;
    color: #A47ADA;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
   
    box-sizing: border-box;
}
#pf{
    margin: 6px;
}
#trianguloa{
    border-left: 100vw solid #55ACE9;
    border-top: 200px solid white;
    }

    .geral{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin-left: 260px;
    
    }
    .container{
        width: 1200px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    
        
    }
    .container .card{
        position: relative;
        padding: 10px;
        width: 300px;
        background-color: #DBE8FF;
        margin: 20px;
        border: 1px solid #BFB8FF;
        border-radius: 20px;
        overflow: hidden;
        transition: 0.5s;
        text-align: center;
        margin: 30px 37px;
        margin-top: 0;
    }
    .container .card .img{
    transition: 0.5s;
    }
    .container .card .p1{
    font-size: 2rem;
    }
    .container .card .content{
        padding: 20px;
        text-align: center;
    }
    .container .card .content .p1{
        color: #BFB8FF;
        transition: 0.5s;
    }
    .container .card .content .a{
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        background-color: #55ACE9;
        color: #fff;
        border-radius: 40px;
        text-decoration: none;
        transition: 0.5s;
        outline: none;
        margin-top: 20px;
    
    }
    .container .card:hover{
        background-color: #BFB8FF;
        color: white;
        margin-top: -30px;
        box-shadow: 2px 20px 25px #BFB8FF;
        border-color: #BFB8FF;
    
    
    }
    .container .card:hover .img{
        filter: invert(1);  
    }
    .container .card:hover .content .p1{
        color: white;
    
    }
    .container .card:hover .content .a{
        color: #000;
        background-color: white;
    
    }
    .content{
        font-family: "Inter", sans-serif;
        color: #BFB8FF;
    }
    .cardleft{
margin-left: 20px;
border: solid #DBE8FF;
border-radius: 50px;
padding: 50px;
width: 250px;
height: 450px;
float: left;
margin-top: auto;
position: fixed;
bottom: 10%;
align-items: center;
font-family: "Inter", sans-serif;
font-size: larger;
color: #A47ADA;
}
.cardleft{
background-color: #DBE8FF;
}
.input1{
    border-style: none;
    border-radius: 20px;
   width: 250px;
   height: 35px;
   text-align: center;
   font-family: "Inter", sans-serif;
   
   
}
#hospedagem{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    margin-top: 100px;
    color: white;
   margin-left: 240px;
   margin-bottom: 100px;
}
#trans{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    margin-top: 100px;
    color: white;
   margin-left: 240px;
   margin-bottom: 100px;
}
#msg{
    text-align: center;
    padding: 50px;
    background-color: white;
    font-family: "Inter", sans-serif;
    color: #A47ADA;
   
}
#btn{
   margin-left: 80%;
   margin-bottom: 10px;
   height: 35px;
   width: 280px;
   background-color: #BFB8FF;
   color: #A47ADA;
   font-family: "Inter", sans-serif;
   flex-direction: row;
   display: flex;
   justify-content: space-between;
   border:none;
   border-radius: 12px;
   font-size: large;
   font-weight: bold;
   align-items: center;
  position: fixed;
  bottom: 55px;


}

